<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% include("partials/header", { user: null }) %>
    <div class="main-content">
      <h1>Sign Up</h1>
      <form
        action="/signup"
        method="post"
        class="auth-form"
        style="width: 300px"
      >
        <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <div class="form-input-container">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-input-container">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" />
        </div>
        <div class="form-input-container">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-input-container">
          <label for="adminCode">Admin Code (Optional):</label>
          <input
            type="text"
            id="adminCode"
            name="adminCode"
            placeholder="Enter admin code if applicable"
          />
        </div>
        <button type="submit" class="action-button">Sign Up</button>
      </form>
      <p style="margin-top: 20px">
        Already have an account? <a href="/login">Login</a>
      </p>
    </div>

    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
      <div class="snowflake">❄</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❄</div>
    </div>
  </body>
</html>
